<!DOCTYPE html>
<head>
    <title>
        Dharmprints.com | Order online
    </title>
    <style>
        .pp-b {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 600;
        }
        .pp-eb {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 800;
        }

        .pp-l {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 400;
        }

        .fs-14 {
            font-size: 14px !important;
        }

        .fs-12 {
            font-size: 12px !important;
        }

        .br-8 {
            border-radius: 8px !important;
        }
    </style>
    <link rel="stylesheet" href="../../uploads/bootstrap.min.css" />

</head>

<body style="width:100vw;height:100vh;display:flex">
    <div class="container d-flex flex-1" style="flex-direction:column">
        <h1 class="brand mt-3">
            <img height="100" src="../../uploads/xx.png" alt="logo" />
        </h1>
        <div class="row">
            <div class="col-sm-12 col-md-10 mx-auto" style="padding:80px">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mx-auto"
                        style="background: rgba(234, 170, 133, 0.15);border-radius:8px">
                        <div style="min-height:350px;margin:30px" class="d-flex flex-column justify-content-between">
                            <div class="pp-eb" style="font-size: 45px;margin-bottom:12px">Reset Password</div>
                            <div class="" id="alertid1" style="border-radius:8px !important;">
                                <p id='alerttext1' class="pp-l fs-12"></p>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="pp-b fs-14">Password</label>
                                <input type="password" autocomplete="off" class="form-control pp-l fs-14 mt-2 br-8"
                                    style="height:45px" id="exampleInputPassword1" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1 " class="pp-b fs-14">Confirm Password</label>
                                <input type="password" autocomplete="off" class="form-control pp-l fs-14 mt-2 br-8"
                                    style="height:45px" id="exampleInputPassword2" placeholder="Password" />
                            </div>
                            <button class="btn br-8 fs-14 pp-b mt-3" onclick="lol1();"
                                style="background-color: #EAAA85; color:white">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function remove(){
            document.getElementById('exampleInputPassword1').classList.remove('is-invalid');
                document.getElementById('exampleInputPassword2').classList.remove('is-invalid');
                document.getElementById('alertid1').classList.remove('alert-danger');
                document.getElementById('alertid1').classList.add('alert');
                document.getElementById('alertid1').classList.add('alert-success');
                document.getElementById('alertid1').innerHTML  = "Your password has reset successfully."
        }
        function lol1() {
            let p1 = document.getElementById('exampleInputPassword1').value;let p2 =  document.getElementById('exampleInputPassword2').value
            if (  p1.length >= 6) {
                if(p1 === p2){
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:5000/user/changePassword', true);
                xhr.setRequestHeader('SESSION-TOKEN',window.location.pathname.split('/')[3]);
                const formData = new FormData();
                formData.append('password', document.getElementById('exampleInputPassword1').value);
                xhr.send(formData);
                remove();
                window.location.href = 'http://localhost:3000/myaccount?login'
                }else{
                    document.getElementById('exampleInputPassword1').classList.add('is-invalid');
                    document.getElementById('exampleInputPassword2').classList.add('is-invalid');
                    document.getElementById('alertid1').classList.add('alert');document.getElementById('alertid1').classList.add('alert-danger');
                    document.getElementById('alertid1').innerHTML  = "Passwords aren't matching"
                }
            }else{
                document.getElementById('exampleInputPassword1').classList.add('is-invalid');
                    document.getElementById('exampleInputPassword2').classList.add('is-invalid');
                    document.getElementById('alertid1').classList.add('alert');document.getElementById('alertid1').classList.add('alert-danger');
                    document.getElementById('alertid1').innerHTML  = "Password length should be 6 or more."
            }
        }
        
    </script>
</body>

</html>